/* body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    text-align: center;
    margin: 0 auto;
    padding: 20px 0;
    background-color: #e0e0e0;
}

h1 {
    font-size: 24px;
    margin: 0;
    padding: 10px 0;
    background-color: #d0d0d0;
    text-transform: uppercase;
    text-align: center;
}

.scale {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.bar {
    width: 100%;
    padding: 15px 0;
    color: white;
    text-align: left;
    padding-left: 20px; 
    box-sizing: border-box;
    font-size: 14px;
    margin: 2px 0; 
}

.alkaline {
    background-color: #007bff; 
}

.neutral {
    background-color: #00cc00;
}

.acidic {
    background-color: #ff3333;
} */
body{
    background-color:#c0c0c0;
    font-family: Arial, sans-serif;
    margin: 10;
    padding:10;
}
.container{
 
    margin: 10;
    padding: 10;

}
.scale{ 
    color: white;
}

h1{
 color: #64645a ;
 margin: 10;
 padding: 10;
 background-color: #dfdfdf;
}

#b1 {
    background-color:#0088dd ;
}

#b2 {
    background-color:#0095e2; 
}

#b3 {
    background-color:#00a0e6 ; 
}

#b4 {
    background-color:#30aae9 ;
}

#b5 {
    background-color:#54b6ed ;
}

#b6 {
    background-color:#72c1f0 ;
}

#b7 {
    background-color:#8ccaf2 ;
}

#b8 {
    background-color:#00bb88 ;
}

#b9 {
    background-color:#f5b0cc ;
}

#b10 {
    background-color:#f69fc0 ;
}

#b11 {
    background-color:#f58cb2 ;
}

#b12 {
    background-color:#f47ba6;
}

#b13 {
    background-color:#f36a98;
}

#b14 {
    background-color:#f45a8b;
}

#b15 {
    background-color:#ee3e80;
}
